body{
    font-family: Arial, Helvetica, sans-serif;
}

#Tabela{
    border-style: ridge;
    border-radius: 15px;
    border: rgb(22, 83, 214);
}

.pdf_name{
    background-color: #7ea5db;
    color: white;
    border-color: #000000;
    border-radius: 2px;
    border: 1px;
    border-style: ridge;
    padding: 12px;
}

#saldoNegativo{
    background-color: rgba(205, 59, 59, 0.775);
    color: rgb(0, 0, 0);
}

#saldoPositivo{
    background-color: rgba(124, 240, 109, 0.775);
    color: rgb(0, 0, 0);
}

table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
}

table td, table th {
    border: 3px solid #000000;
    padding: 8px;
  }

table th{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #252d38;
    color: white;
}
.vermelho {
    color: red;
}

.verde {
    color: green;
}

#file-input{
    display: none;

}

#file-label{
    background-color: #252d38;
    color: white;
    border-color: #000000;
    border-radius: 2px;
    border: 1px;
    border-style: ridge;
    padding: 12px;

}



#file-label:hover{
    background-color: rgb(64, 118, 118);
}

#file-label:active{
    background-color: rgba(119, 224, 224, 0.365);
}